workflows_backup/6jJo9jeKagzM6nxZ.json
{
  "updatedAt": "2026-06-11T08:24:49.753Z",
  "createdAt": "2026-06-11T08:24:49.211Z",
  "id": "6jJo9jeKagzM6nxZ",
  "name": "K8s Tool: get_logs",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ba2af29c-bdf6-4700-8019-7997f9c08c5d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "=kubectl logs {{ $json.pod_name }} -n {{ $json.namespace }} {{ $json.container_name ? '-c ' + $json.container_name : '' }} --tail=100 2>&1"
      },
      "id": "ac0f98f5-c6f1-4d1b-a0ff-0f521356d58c",
      "name": "kubectl logs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $json.stdout || $json.stderr }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6bb77449-b1be-4b0d-88bf-13a1d29fe28d",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        608,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "kubectl logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl logs": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "4393818e-1515-4ac8-931e-eb9cbb1f9807",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-11T08:24:49.219Z",
      "createdAt": "2026-06-11T08:24:49.219Z",
      "role": "workflow:owner",
      "workflowId": "6jJo9jeKagzM6nxZ",
      "projectId": "j0RPT4rXjGeYyfmF",
      "project": {
        "updatedAt": "2026-06-11T07:08:09.641Z",
        "createdAt": "2026-06-11T06:58:13.523Z",
        "id": "j0RPT4rXjGeYyfmF",
        "name": "Anshul Bisht <anshul123bisht@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "98ea874b-1bc5-483a-9947-8726c8708b95"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}