workflows_backup/mGt4zk43OLi9DFL4.json
{
  "updatedAt": "2026-06-11T08:23:06.929Z",
  "createdAt": "2026-06-11T08:23:00.263Z",
  "id": "mGt4zk43OLi9DFL4",
  "name": "K8s Tool: describe_pod",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "8ead2de1-a1a0-404a-b4e2-824667ecbfdc",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "=kubectl describe pod {{ $json.pod_name }} -n {{ $json.namespace }} 2>&1"
      },
      "id": "61e7f00f-24fd-40a4-b8cd-1cba16e54630",
      "name": "kubectl describe pod",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $json.stdout || $json.stderr }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f18435a6-f86c-4e04-9d2f-3326d01081b7",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        608,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "kubectl describe pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl describe pod": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "54386f35-c94c-4353-89c6-09539d67ce75",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-11T08:23:00.270Z",
      "createdAt": "2026-06-11T08:23:00.270Z",
      "role": "workflow:owner",
      "workflowId": "mGt4zk43OLi9DFL4",
      "projectId": "j0RPT4rXjGeYyfmF",
      "project": {
        "updatedAt": "2026-06-11T07:08:09.641Z",
        "createdAt": "2026-06-11T06:58:13.523Z",
        "id": "j0RPT4rXjGeYyfmF",
        "name": "Anshul Bisht <anshul123bisht@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "98ea874b-1bc5-483a-9947-8726c8708b95"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}