workflows_backup/oeHtVW5jmcooIhoT.json
{
  "updatedAt": "2026-06-11T08:26:45.299Z",
  "createdAt": "2026-06-11T08:26:45.299Z",
  "id": "oeHtVW5jmcooIhoT",
  "name": "K8s Tool: restart_deployment",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "54884eb6-c9f5-4006-bcbc-2d3b27429194",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "=kubectl rollout restart deployment/{{ $json.deployment_name }} -n {{ $json.namespace }} 2>&1"
      },
      "id": "c10be05c-df80-4256-b824-94bdbe838046",
      "name": "kubectl rollout restart",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $json.stdout || $json.stderr }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6fff0d69-2f01-4a0f-9e06-8be8d579d18c",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        608,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "kubectl rollout restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl rollout restart": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "8d4c134b-819b-4f66-86d3-82e183d86cdc",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-11T08:26:45.302Z",
      "createdAt": "2026-06-11T08:26:45.302Z",
      "role": "workflow:owner",
      "workflowId": "oeHtVW5jmcooIhoT",
      "projectId": "j0RPT4rXjGeYyfmF",
      "project": {
        "updatedAt": "2026-06-11T07:08:09.641Z",
        "createdAt": "2026-06-11T06:58:13.523Z",
        "id": "j0RPT4rXjGeYyfmF",
        "name": "Anshul Bisht <anshul123bisht@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "98ea874b-1bc5-483a-9947-8726c8708b95"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}