workflows_backup/oIqZbIxMCsWUWw9q.json
{
  "updatedAt": "2026-06-11T08:24:32.073Z",
  "createdAt": "2026-06-11T08:24:28.890Z",
  "id": "oIqZbIxMCsWUWw9q",
  "name": "K8s Tool: get_events",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "e64bf11e-a95a-4c38-a82f-7366897d3ec8",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "kubectl get events -A --sort-by=.metadata.creationTimestamp 2>&1 | tail -50"
      },
      "id": "4cef6a3e-0f99-4c94-810c-10b41e9e2854",
      "name": "kubectl get events",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $json.stdout || $json.stderr }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab3e2596-3e30-44c0-b1ca-597fd6ea690c",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        608,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "kubectl get events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl get events": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "40fd5f33-6e8d-4bb2-bd5d-0df8166d28c7",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-11T08:24:28.894Z",
      "createdAt": "2026-06-11T08:24:28.894Z",
      "role": "workflow:owner",
      "workflowId": "oIqZbIxMCsWUWw9q",
      "projectId": "j0RPT4rXjGeYyfmF",
      "project": {
        "updatedAt": "2026-06-11T07:08:09.641Z",
        "createdAt": "2026-06-11T06:58:13.523Z",
        "id": "j0RPT4rXjGeYyfmF",
        "name": "Anshul Bisht <anshul123bisht@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "98ea874b-1bc5-483a-9947-8726c8708b95"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}