workflows_backup/qyN1EFPJiiMjoOEU.json
{
  "updatedAt": "2026-06-11T08:46:02.000Z",
  "createdAt": "2026-06-11T08:25:44.972Z",
  "id": "qyN1EFPJiiMjoOEU",
  "name": "K8s Tool: get_logs",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "689ebc1b-138e-4745-a985-14808463b11d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "=kubectl logs {{ $json.pod_name }} -n {{ $json.namespace }} {{ $json.container_name ? '-c ' + $json.container_name : '' }} --tail=100 2>&1"
      },
      "id": "6b15de33-c726-4050-b8aa-d48ca7f8037d",
      "name": "kubectl logs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $json.stdout || $json.stderr }}"
            }
          ]
        },
        "options": {}
      },
      "id": "74743d90-0039-44a0-8d10-3c8c07449396",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        608,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "kubectl logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl logs": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "8dc6b2e6-18eb-4873-9a9f-8fdd05475aca",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-11T08:25:44.980Z",
      "createdAt": "2026-06-11T08:25:44.980Z",
      "role": "workflow:owner",
      "workflowId": "qyN1EFPJiiMjoOEU",
      "projectId": "j0RPT4rXjGeYyfmF",
      "project": {
        "updatedAt": "2026-06-11T07:08:09.641Z",
        "createdAt": "2026-06-11T06:58:13.523Z",
        "id": "j0RPT4rXjGeYyfmF",
        "name": "Anshul Bisht <anshul123bisht@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "98ea874b-1bc5-483a-9947-8726c8708b95"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}