workflows_backup/xLFZrlKvw9GYsotx.json
{
  "updatedAt": "2026-06-11T09:00:04.968Z",
  "createdAt": "2026-06-11T09:00:04.968Z",
  "id": "xLFZrlKvw9GYsotx",
  "name": "K8s Tool: top_nodes",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "501e27e3-7c78-4a36-8548-0bb55533fe17",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "kubectl top nodes 2>&1"
      },
      "id": "07769e0b-b522-4150-a5ab-a4765b46da05",
      "name": "kubectl top nodes",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $json.stdout || $json.stderr }}"
            }
          ]
        },
        "options": {}
      },
      "id": "66e0ebf1-0dbf-467d-be27-d3a0a21d3742",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        608,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "kubectl top nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl top nodes": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "edbb5e4f-904b-40e5-8845-8e2eb0f3b65b",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-11T09:00:04.980Z",
      "createdAt": "2026-06-11T09:00:04.980Z",
      "role": "workflow:owner",
      "workflowId": "xLFZrlKvw9GYsotx",
      "projectId": "j0RPT4rXjGeYyfmF",
      "project": {
        "updatedAt": "2026-06-11T07:08:09.641Z",
        "createdAt": "2026-06-11T06:58:13.523Z",
        "id": "j0RPT4rXjGeYyfmF",
        "name": "Anshul Bisht <anshul123bisht@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "98ea874b-1bc5-483a-9947-8726c8708b95"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}