workflows/tools/apply-manifest-tool.json
{
  "name": "K8s Tool: apply_manifest",
  "nodes": [
    {
      "parameters": { "workflowInputs": { "values": [{ "name": "manifest_yaml" }] } },
      "id": "trigger", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [0, 300]
    },
    {
      "parameters": { "command": "=printf '%s' {{ JSON.stringify($json.manifest_yaml) }} | kubectl apply -f - 2>&1" },
      "id": "kubectl-cmd", "name": "kubectl apply", "type": "n8n-nodes-base.executeCommand", "typeVersion": 1, "position": [300, 300]
    },
    { "parameters": { "fields": { "values": [{ "name": "output", "stringValue": "={{ $json.stdout || $json.stderr }}" }] }, "options": {} }, "id": "format-output", "name": "Format Output", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [600, 300] }
  ],
  "connections": { "Execute Workflow Trigger": { "main": [[{ "node": "kubectl apply", "type": "main", "index": 0 }]] }, "kubectl apply": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] } },
  "settings": { "executionOrder": "v1" }
}
