workflows/tools/delete-resource-tool.json
{
  "name": "K8s Tool: delete_resource",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "resource_type"
            },
            {
              "name": "resource_name"
            },
            {
              "name": "namespace"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "command": "=kubectl delete {{ $json.resource_type }} {{ $json.resource_name }} -n {{ $json.namespace }} --force --grace-period=0 2>&1"
      },
      "id": "kubectl-cmd",
      "name": "kubectl exec",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $json.stdout || $json.stderr }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        600,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "kubectl exec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl exec": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}