workflows/tools/describe-pod-tool.json
{
  "name": "K8s Tool: describe_pod",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [{ "name": "pod_name" }, { "name": "namespace" }]
        }
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "command": "=kubectl describe pod {{ $json.pod_name }} -n {{ $json.namespace }} 2>&1"
      },
      "id": "kubectl-cmd",
      "name": "kubectl describe pod",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "fields": { "values": [{ "name": "output", "stringValue": "={{ $json.stdout || $json.stderr }}" }] },
        "options": {}
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "kubectl describe pod", "type": "main", "index": 0 }]] },
    "kubectl describe pod": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
