workflows/tools/restart-deployment-tool.json
{
  "name": "K8s Tool: restart_deployment",
  "nodes": [
    {
      "parameters": { "workflowInputs": { "values": [{ "name": "deployment_name" }, { "name": "namespace" }] } },
      "id": "trigger", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [0, 300]
    },
    {
      "parameters": { "command": "=kubectl rollout restart deployment/{{ $json.deployment_name }} -n {{ $json.namespace }} 2>&1" },
      "id": "kubectl-cmd", "name": "kubectl rollout restart", "type": "n8n-nodes-base.executeCommand", "typeVersion": 1, "position": [300, 300]
    },
    { "parameters": { "fields": { "values": [{ "name": "output", "stringValue": "={{ $json.stdout || $json.stderr }}" }] }, "options": {} }, "id": "format-output", "name": "Format Output", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [600, 300] }
  ],
  "connections": { "Execute Workflow Trigger": { "main": [[{ "node": "kubectl rollout restart", "type": "main", "index": 0 }]] }, "kubectl rollout restart": { "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]] } },
  "settings": { "executionOrder": "v1" }
}
